.center {
	margin-top: 5%;
	margin-left: 35%;
}

.center2 {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

.img {
	margin-left: 44%;
}

.cl{
	margin-top: 5%;
	margin-left: 50%;
	}
	
.img2{
	margin-top: 100%;
	margin-left: 100%
	
}
	

