body {font-family: "Lato", sans-serif;}

.header nav{
	border-radius: 0px;
}





.sidebar {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none !important;
  font-size: 130%;
  color: white;
  display: block;
}
#imgb{
	width:170px; 
	margin-left: -15px; 
	margin: 7px;
}

a:hover{
	background-color: #007fff;
}

.sidebar a:hover {
  color: #f1f1f1;
}






.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}